# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. Python Libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. scikit learn
4. Matplotlib

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
| --- |
| Jupyter Notebook |
| Rstudio |
| Apache Zeppelin |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
print(1+2)

3

In [21]:
print(2*4)

8

In [22]:
print(40/2)

20.0

**Exercise 8 - Create a code cell to multiply and add numbers**

This a simple arithmetic expression to mutiply then add integers

In [25]:
print( (3*4)+5)

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by dividing by 60

In [27]:
print(200/60)

3.3333333333333335

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
- markdown writing skill
- python coding
- commenting the code
- increase code readability

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author

Anwar Rahim