# lets Work on tuple
in python programming language

Example
# Remember
**Tuple can have multiple data types**

In [1]:
My_data =("Anwar", 22, 5.4, "age", 8 )

# check its above code type

In [2]:
type(My_data)

tuple

**So it proves that tuples can have multiples data types at the same time.**

# data can be accessed using its correct index

In [3]:
My_data =("Anwar", 22, 5.4, "age", 8 )
print(My_data[1])

22

In [7]:
My_data =("Anwar", 22, 5.4, "age", 8 )
print(My_data[-1])

8

# Tuple Slicing

# can call the specific part tuple
the last send index number like [2:5] here "5th" index is not include

In [5]:
My_data =("Anwar", 22, 5.4, "age", 8, 49, "profession" )
print(My_data[1:5])

(22, 5.4, 'age', 8)

if we don't know the length of tuple then we may use "len" command to determine the length of tuple

In [8]:
len(My_data)

5

# The function len returns the number of items of a tuple. #

In [10]:
A= (1,2,3,4,5)
len(A)

5

 # Tuples are immutable
 we cannot change the value of tuple

In [12]:
numbers= (1,2,3,4,5,6,7,8,9)
numbers[2] = 3

TypeError: 'tuple' object does not support item assignment

the error proves it

 # Nesting Tuples

In [16]:
Nesting =(1,2,("Anwar","Rahim"), (3,5),6)
Nesting[2]

('Anwar', 'Rahim')

if we just want to call first name then dive into deeper

In [17]:
Nesting =(1,2,("Anwar","Rahim"), (3,5),6)
Nesting[2][0]

'Anwar'

# LIST

List are popular Data Structure in python

1) list are very similar to tuple
2) List Use [  ] square bracket and tuple use (  )
3) List is mutable ( the main key difference is)
4)  **Example**
5) ["Anwar", 3, 3.5, 39, 50,]
6) The above tell List has multiple dataset
7) List and Tuple slicing are same

 # List Concatination

In [27]:
aboutMe= ["Anwar Rahim"]
age = [age]
My_data=aboutMe+ [" My age is "] +age
print(My_data)

['Anwar Rahim', ' My age is ', 22]

 # Extend method
 use to add the value in list in its last

In [33]:
Data = [1, 3,5,64,75,4]
Data.extend(["this",34])

In [34]:
print(Data)

[1, 3, 5, 64, 75, 4, 'this', 34]

# append( ) method in list

In [4]:
Data = [1, 3,5,64,75,4]
Data.append("Hi")
print(Data)

[1, 3, 5, 64, 75, 4, 'Hi']

In [5]:
Data[3] = "Anwar"
print(Data)

[1, 3, 5, 'Anwar', 75, 4, 'Hi']

*so above example shows that List can be modified but tuple is immutable*

# Dell( ) Methods
**to delete the list value**

In [8]:
Data = [1, 3,5,64,75,4]
del(Data[2])
print(Data)

[1, 3, 64, 75, 4]

**The five( 5 ) has deleted from above example**

# split Method
*The method split separates a string into a list based on the argument. If there is no argument as in this case the string is split using spaces.*

In [11]:
Data= ["Anwar Rahim"]
"Anwar Rahim".split()

['Anwar', 'Rahim']

The above example was one string after split method it divided it into 2 strings

In [24]:
"Anwar Rahim Farhan Khan khan zada  1 2 3 4 ".split()

['Anwar', 'Rahim', 'Farhan', 'Khan', 'khan', 'zada', '1', '2', '3', '4']

# List Aliasing

**if two List have same values**
A=["Banana", 2.3, 4]
B=["Banana", 2.3, 4]

**if we change the value of B the value of A will also change this is its flaw**
lets check some examples

In [52]:
A = [1, 2, 3]
B = A

lets change the value B

In [53]:
B[0] = 4
print(A)

[4, 2, 3]

Look at above example I change the value of B but the value A also change from 1 to 4

# List Clone

We use list clone to modify or change the value of any equal List

In [48]:
A = [1, 2, 3]
B = A[:]
B[0] = 5.5

In [49]:
print(A)
print(B)

[1, 2, 3]
[5.5, 2, 3]