In [3]:
import pandas as pd
# make the dictionary for makeing the data fram
Data = {'Student':['Anwar ', 'Rahim', 'Khan', 'zambo', 'farhan'], 'ID':[1,2,3,4,5], 'Department':['software engineering','Data Science','infrastructure','Filming','student'], 'Salery':[200,19,89,98,45]}
#making this dictionary into data frame
df = pd.DataFrame(Data)

In [4]:
#print all the values
print(df)

  Student  ID            Department  Salery
0  Anwar    1  software engineering     200
1   Rahim   2          Data Science      19
2    Khan   3        infrastructure      89
3   zambo   4               Filming      98
4  farhan   5               student      45

In [14]:
# select just on or two specific column

Data=df[['Student']]
Data

0    Anwar
1     Rahim
2      Khan
3     zambo
4    farhan
Name: Student, dtype: object

In [18]:
# retrieve data from two or more columns save in Data1
Data1 = df[['Salery','Department']]
Data1

   Salery            Department
0     200  software engineering
1      19          Data Science
2      89        infrastructure
3      98               Filming
4      45               student

In [19]:
type(Data1)

pandas.core.frame.DataFrame